<title><%= title %></title>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Mostrar orden de trabajo</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-4">
				<p>Número:</p>
				<p>Fecha de inicio:</p>
				<p>Fecha estimada de fin:</p>
				<p>Descripción:</p>
			</div>
			<div class="col-md-4">
				<p>Estado:</p>
				<p>Número:</p>
				<p>Número:</p>
				<p>Número:</p>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Ubicación</h3>
					</div>
					<div class="panel-body">
						<p>Carretera:</p>
						<p>PK inicial:</p>
						<p>PK final:</p>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
						<a data-toggle="collapse" href="#collapse1">Mapa</a></h3>
					</div>
					<div id="collapse1" class="panel-collapse collapse">
						<img class="img-responsive img-rounded" src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&key=AIzaSyBE0QxsElt5ywnUP4ClW8hRYRIsfUwJnNg">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>