<title><%= title %></title>
<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    	
<div class="row">
	<div class="wrap-headline">
		<h1 class="text-center">Bienvenido a <%= title %></h1>
		<h4 class="text-center">Aplicación web para la gestión de la conservación de carreteras</h4>
		<hr>
		<ul class="list-inline list-unstyled text-center">
			<li>
				<a class="btn btn-primary btn-lg" href="/ordenes" role="button">Agenda</a>
			</li>
			<li>
				<a class="btn btn-primary btn-lg" href="/mapa" role="button">Mapa</a>
			</li>
		</ul>
</div>