<div class="row">
	<div class="wrap-headline">
		<h1 class="text-center" style=" color: #045FB4;">Bienvenido a RoadGIS</h1><br>
		<h3 class="text-center" style=" color: #045FB4;">Aplicaci贸n web para la gesti贸n de la conservaci贸n de carreteras</h3>
		<br>
		<hr>
		<br>
		<div class="row">
          <div class="col-md-offset-3 col-md-2">
            <div class="square-service-block">
               <a href="/ordenes">
                 <div class="ssb-icon"><span class="glyphicon glyphicon-road" aria-hidden="true"></div>
                 <h2 class="ssb-title">Agenda</h2>  
               </a>
            </div>
          </div>
          
          <div class="col-md-2">
            <div class="square-service-block">
               <a href="/mediciones/control">
                 <div class="ssb-icon"><span class="glyphicon glyphicon-euro" aria-hidden="true"></div>
                 <h2 class="ssb-title">control</h2>  
               </a>
            </div>
          </div>
          
          <div class="col-md-2">
            <div class="square-service-block">
               <a href="/mapa">
                 <div class="ssb-icon"><span class="glyphicon glyphicon-globe" aria-hidden="true"></div>
                 <h2 class="ssb-title">mapa</h2>  
               </a>
            </div>
          </div>
                    
		</div>
		
		<!-- <div class="row"> -->
			<!-- <div class="col-md-offset-3 col-md-2"> -->
				<!-- <a class="btn btn-primary btn-lg" href="/ordenes" role="button"><span class="glyphicon glyphicon-road" aria-hidden="true"> Agenda</a> -->
			<!-- </div> -->
			<!-- <div class="col-md-2"> -->
				<!-- <a class="btn btn-primary btn-lg" href="/mapa" role="button"><span class="glyphicon glyphicon-euro" aria-hidden="true"> Mediciones</a> -->
			<!-- </div> -->
			<!-- <div class="col-md-2"> -->
				<!-- <a class="btn btn-primary btn-lg" href="/mapa" role="button"><span class="glyphicon glyphicon-globe" aria-hidden="true"> Mapa</a> -->
			<!-- </div> -->
			<!-- <ul class="list-inline list-unstyled text-center"> -->
				<!-- <li> -->
					<!-- <a class="btn btn-primary btn-lg" href="/ordenes" role="button">Agenda</a> -->
				<!-- </li> -->
				<!-- <li> -->
					<!-- <a class="btn btn-primary btn-lg" href="/mapa" role="button">Mapa</a> -->
				<!-- </li> -->
		<!-- </ul> -->
		
	</div>
</div>

<footer>
	<p class="text-center text-muted"> IGC | Proyecto Final de Carrera | Alberto Henche G贸mez - 2017</p>
</footer>