<title><%= title %></title>

<!--NUESTRO CODIGO HTML-->
<div id="contenedorMapa" ></div>

<!--CARGAMOS LOS JAVASCRIPTS EXTERNOS-->

<link href="../../libraries/Leaflet-1.1.0/dist/leaflet.css" rel="stylesheet" type="text/css" />
<script src="../../libraries/Leaflet-1.1.0/dist/leaflet.js"></script>

		
<!--CARGAMOS NUESTRO JAVASCRIPT-->
<script>
		
	var ctras = L.geoJson(<%- jsonData %>, {style: {weight: 5}});
	
	var pnoa_ma = L.tileLayer.wms("http://www.ign.es/wms-inspire/pnoa-ma", {
		layers: "OI.OrthoimageCoverage",//layer name (see get capabilities)
		format: 'image/jpeg',
		transparent: false,
		version: '1.3.0',//wms version (see get capabilities)
		attribution: "PNOA WMS. © Instituto Geográfico Nacional de España"
	});
	
	var mapa_base = L.tileLayer.wms("http://www.ign.es/wms-inspire/mapa-raster", {
		layers: "mtn_rasterizado",//layer name (see get capabilities)
		format: 'image/jpeg',
		transparent: false,
		version: '1.3.0',//wms version (see get capabilities)
		attribution: "Cartografía raster WMS. © Instituto Geográfico Nacional de España"
	});
	
	var map = L.map('contenedorMapa',
		{
			minZoom: 11,
			maxZoom: 18,
			center: [37.40200, -4.48300],
			zoom: 18,
			layers: [pnoa_ma, ctras]
		}
	);
		
	var baseMaps = {
    "Cartografía raster": mapa_base,
    "PNOA_MA": pnoa_ma
	};

	var overlayMaps = {
    "Carreteras": ctras
	};
	
	L.control.layers(baseMaps, overlayMaps).addTo(map);
	
	L.control.scale().addTo(map);
	
</script>
