/*Estilos generales*/
html, body, .container {
	width: auto;
	height: 100%;
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
}

/* Estilos para la agenda */
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.panel {
	margin-top: 30px;
}



/* Estilos para la pagina de inicio */
.wrap-headline {
position: relative;
padding-top: 15%;
padding-bottom: 15%;
}
hr {
width: 30%;
}



/*Estilos para el mapa*/
#contenedorMapa {
  display: block;
  width: auto;
  height: 95%;
}

/* Estilos para la barra de navegación */
.navbar {
    margin-bottom: 0px;
}

